.categories .section-title {
  width: 312px;
  margin: 0 auto;
}
.categories .section-title h2 {
  margin-top: 88px;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}
.categories-cards .card {
  width: 312px;
  height: 228px;
  background-color: var(--background-secundary-color);
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}
.categories-cards .card h3 {
  font-size: 28px;
  font-weight: var(--titles-weight);
}

/*trick*/
.categories-cards .card.single-line {
  padding-top: 50px;
}
.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .categories-cards .card {
    width: 430px;
  }
}
@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 530px;
  }
}
@media screen and (min-width: 1600px) {
  .categories-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    gap: 0;
  }
  .categories-cards .card {
    width: 330px;
  }
}
