@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/*CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: var(--text-primary-color);
  font-family: "Montserrat";
  font-weight: var(--titles-weight);
  color: var(--primary-color);
}
body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}
.section-title h2 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0;
  text-align: center;
}
.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width = 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
