.hero-img {
  height: 400px;
  width: 100%;
  background: url(../img/heromobile.jpg) no-repeat;
  background-size: cover;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-size: 20px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-img {
    width: 100%;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 87px 122px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1600px) {
  .hero-img {
    width: 100%;
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
  .hero h2 {
    padding: 88px 160px;
    font-size: 32px;
  }
}
