.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card {
  color: var(--text-secundary-color);
  width: 312px;
  height: 288px;
  background-color: var(--background-tertiary-color);
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}
.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}
.card p {
  font-size: 20px;
  font-weight: var(--text-weight);
}
.card h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0 0;
}
.card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.card.japao {
  background: url(../img/bgcardjapao.png) no-repeat;
  background-size: cover;
}
.card.san-andreas {
  background: url(../img/bg-card-sanandreas.jpg) no-repeat;
  background-size: cover;
}
.card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}
.card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }
  .card h3 {
    font-size: 48px;
  }
  .card span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}
@media screen and (min-width: 1600px) {
  .offers-card {
    width: 1140px;
    margin: 0 auto;
  }
}
