.card {
  color: var(--text-secundary-color);
  width: 312px;
  height: 288px;
  background-color: var(--background-tertiary-color);
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}
.card header {
  display: block;
  background-color: transparent;
  position: static;
}
.card p {
  font-size: 20px;
  font-weight: var(--text-weight);
}
.card h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0 0;
}
.card span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}
