:root{
    --background-primary-color: #ffff;
    --background-secondary-color: #f5f5f5;
    --background-terciary-color: #000;

    --button-primary-color:#8F0101;
    --button-secondary-color:#B81515;

    --text-primary-color:#2222;
    --text-secondary-color:#FFFF;

}

/*CSS RESET */
body,img,h1,p,fieldset,legend,label,input,select,textarea,button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: var(--text-primary-color);
}